#navbar {
    flex-direction: column;
    padding-top: 1rem;
    overflow: hidden;
    height: 60px;
    padding-bottom: 1.5rem;;
}

#training .items {
    flex-direction: column;
    display: flex;
}
#training .items .item {
    width: 100%;
}

.courses .course {
    flex-direction: column;
    align-items: center;
}